body {
    /* background-color: coral; */
    background-image: url(images/city_backdrop_night.jpeg);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    color: cornsilk;
}