html {
    /* background-color: coral; */
    background-image: url(images/city_backdrop_night.jpeg);
    min-width: auto;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: cornsilk;
}

/* @media (max-width: 1366px) {
    body {
        /* height: 100%; */
        /* width: auto; */
    }
} */